# USAGE: pip install -r requirements.txt -f https://download.pytorch.org/whl/torch_stable.html
tqdm==4.66.1
transformers==4.33.1
torch==2.0.1+cu118
cattrs==23.2.2
statsmodels==0.14.0
matplotlib==3.8.2
scipy==1.10.1
openai==0.27.7
tiktoken==0.5.2
datasets==2.16.1
nltk==3.8.1
krippendorff==0.6.1
scikit-learn==1.4.0
irrCAC==0.4.0
evaluate==0.4.1
sentence_transformers==2.2.2
bert_score==0.3.13
sacrebleu==2.4.0